<!-- A content heading -->
<% if (title) { %>
    <h1 class="bold" id="accountTitle"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<h2 class="semi-bold" id="welcome">Welcome <%-locals.accountData.account_firstname %></h2>
<!-- A message -->
<%-  messages() %> 
<!--The link must pass through the accounts router and be handled by the accounts controller. The id of the logged-in client should be passed through the link. -->
<!-- I think in the link we pass locals.accountData.inv_id -->
<p><a class="regular" href="/account/edit-account/<%-locals.accountData.account_id %>">Edit account information</a></p>


<% if (errors) { %>
  <ul class="notice semi-bold">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Add Message Center. Not dependent on the account type. -->
<h3 class="semi-bold">Message Center</h3>
<ul>
  <li class="regular">This should say how many unread messages you have.
    <!-- <a class="regular" href="/account/message"></a> -->
  </li>
  <!-- if inbox controller doesn't work, change link to /account/inbox/... -->
  <li class="regular">Go to <a class="regular" href="/inbox/<%-locals.accountData.account_id %>" id="inbox">Inbox</a></li>
</ul>

<!-- Assignment 5 -->
<% if(locals.accountData.account_type == 'Employee' || locals.accountData.account_type == 'Admin' ){  %>
    <h3 class="semi-bold">Inventory Management</h3>
    <p><a class="regular" href="/inv">Manage Inventory</a></p>
<% } %>