<!-- A content heading -->
<% if (title) { %>
    <h1 class="bold" id="deleteInventoryTitle"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<!-- A message -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice semi-bold">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <form id="deleteForm" action="/inv/delete/" method="post">
    <!-- The login view -->
    <label class="regular">Classification:*</label><br>
    <%- select %><br>
    <%#- options %><br>
        
        <label for="invMake" class="regular">Make:*</label><br>
        <input type="text" id="invMake" minlength="3" name="inv_make" required placeholder="Min 3 characters" value="<%= locals.inv_make %>" readonly><br>
        <label for="invModel" class="regular">Model:*</label><br>
        <input type="text" id="invModel" minlength="3" name="inv_model" required placeholder="Min 3 characters" value="<%= locals.inv_model %>" readonly><br>
        <label for="invPrice" class="regular">Price:*</label><br>
        <input type="text" id="invPrice" name="inv_price" pattern="^\d+([.]\d+)?$" required value="<%= locals.inv_price %>" readonly><br>
        <label for="invYear" class="regular">Year:*</label><br>
        <input type="text" id="invYear" name="inv_year" minlength="4" maxlength="4" pattern="[0-9]{4}" required value="<%= locals.inv_year %>" readonly><br>
        <p>Confirm Deletion - The delete is permanent.</p>
        <button type="submit" class="semi-bold" id="deleteVehicleButton">Delete</button>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
  </form>
