<!-- Header -->
<% if (title) { %>
    <h1 class="bold" id="inboxTitle"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Enable display errors -->
<% if (errors) { %>
    <ul class="notice semi-bold">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<%-messages()%>

<ul id="inboxOptions" class="regular">
  <li><a href="/inbox/create-message/<%- locals.accountData.account_id %>">Create New Message</a></li>
  <li><a href="/inbox/archive/<%- locals.accountData.account_id %>">View <%-archived_messages%> Archived Messages.</a></li>  
</ul>

<%- table %>