<!-- Header -->
<% if (title) { %>
    <h1 class="bold" id="messageTitle"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice semi-bold">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
<%- div %>

<div class="regular" id="messageActions">
<a href="/inbox/message/reply/<%-message_id %>">Reply</a><br><br>
<a href="">Mark as Read</a><br><br>
<a href="">Archive Message</a><br><br>
<a href="">Delete Message</a><br><br>
</div>
<a class="regular" id="returnToInbox" href="/inbox/<%-locals.accountData.account_id %>">Return to Inbox</a><br><br>