<!-- Header -->
<% if (title) { %>
    <h1 class="bold" id="replyTitle"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice semi-bold">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <%-messages()%>

<form id="replyMessageForm" action="/inbox/reply" method="post">
  <label for="account_id" class="regular">To:</label><br>
  <%-select %>
  <!-- <input for="account_id" class="regular" value=" <%=locals.account_firstname%> <%=locals.account_lastname%>"><br> -->
  <label for="message_subject" class="regular">Subject:*</label><br>
  <input type="text" id="message_subject" minlength="1" name="message_subject" required placeholder="Min 1 character" value="<%-re%> <%=locals.message_subject %>"><br>
    
  <label for="message_body" class="regular">Message:*</label><br>
  <textarea id="message_body" minlength="1" name="message_body" required placeholder="Min 1 character"><%-spaces%><%= locals.message_body %></textarea><br>

  <button type="submit" class="semi-bold" id="newMessageButton">Send</button>

</form>